<ion-view title="Cadastro Trainer" id="page5">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-ios-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <button id="cadastroTrainer-button19" style="border-radius:20px 20px 20px 20px;" class="button button-stable  button-block button-outline icon ion-social-facebook"> Entrar com Facebook</button>
    <form id="cadastroTrainer-form4" class="list">
      <ion-list id="cadastroTrainer-list4">
        <ion-item class="item-avatar" id="cadastroTrainer-list-item3">
          <h2>Item</h2>
        </ion-item>
        <label class="item item-input" id="cadastroTrainer-input10">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastroTrainer-input13">
          <span class="input-label">Sobrenome</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastroTrainer-input11">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="cadastroTrainer-input12">
          <span class="input-label">Senha</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastroTrainer-input14">
          <span class="input-label">Repetir senha</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <label class="item item-select" id="cadastroTrainer-select1">
        <span class="input-label">Sexo</span>
        <select>
          <option>Masculino</option>
          <option>Feminino</option>
        </select>
      </label>
      <label class="item item-input" id="cadastroTrainer-input17">
        <span class="input-label">Data nascimento</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-select" id="cadastroTrainer-select2">
        <span class="input-label">Estado</span>
        <select>
          <option>SP</option>
          <option>RJ</option>
        </select>
      </label>
      <label class="item item-select" id="cadastroTrainer-select3">
        <span class="input-label">Cidade</span>
        <select>
          <option>São Paulo</option>
          <option>Rio de Janeiro</option>
        </select>
      </label>
      <ion-checkbox id="cadastroTrainer-checkbox2">Li e aceito os termos de uso</ion-checkbox>
      <button id="cadastroTrainer-button18" style="font-weight:500;border-radius:20px 20px 20px 20px;" class="button button-calm  button-block">Cadastrar</button>
    </form>
  </ion-content>
</ion-view>