<ion-view title="Configurar Perfil" id="page6" style="background-color:#F0F0F0;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-ios-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="configurarPerfil-list5">
      <label class="item item-input" id="configurarPerfil-textarea3">
        <span class="input-label">ESPECIALIDADES</span><textarea placeholder=""></textarea></label>
      <ion-item class="item-icon-left" id="configurarPerfil-list-item12">
        <i class="icon ion-android-checkmark-circle"></i>Alongamento</ion-item>
      <ion-item class="item-icon-left" id="configurarPerfil-list-item13">
        <i class="icon ion-android-checkmark-circle"></i>Condicionamento</ion-item>
      <ion-item class="item-icon-left" id="configurarPerfil-list-item14">
        <i class="icon ion-android-checkmark-circle"></i>Emagrecimento</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <form id="configurarPerfil-form11" class="list">
      <label class="item item-select" id="configurarPerfil-select5">
        <span class="input-label">Formação</span>
        <select>
          <option>Mestrado</option>
        </select>
      </label>
    </form>
    <div id="configurarPerfil-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:15px;">
        <strong>Descrição</strong>
      </p>

      <p style="color:#000000;font-size:15px;">Sou profissional com mais de 10 anos de experiência nas áreas: x, y e z.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 16px;"></div>
    <form id="configurarPerfil-form14" class="list">
      <ion-item class="range range-positive" id="configurarPerfil-range3">Preço médio por treino
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <div class="spacer" style="width: 300px; height: 16px;"></div>
      <label class="item item-input" id="configurarPerfil-textarea1">
        <span class="input-label">Locais de atendimento</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="configurarPerfil-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar local">
      </label>
      <button id="configurarPerfil-button9" style="font-style:italic;color:#0E0D0D;font-size:15px;text-align:left;" class="button button-light  button-block icon-left ion-android-pin"> Smart fit</button>
      <button id="configurarPerfil-button11" style="font-style:italic;color:#0E0D0D;font-size:15px;text-align:left;" class="button button-light  button-block icon-left ion-android-pin"> Runner</button>
      <button id="configurarPerfil-button10" style="font-style:italic;color:#0E0D0D;font-size:15px;text-align:left;" class="button button-light  button-block icon-left ion-android-pin"> Rebook</button>
      <label class="item item-input" id="configurarPerfil-textarea2">
        <span class="input-label">Posso atender em outros locais</span><textarea placeholder=""></textarea></label>
      <button id="configurarPerfil-button12" style="font-style:italic;color:#0E0D0D;font-size:15px;text-align:left;" class="button button-light  button-block icon-left ion-android-pin">Parque do povo</button>
      <button id="configurarPerfil-button13" style="font-weight:600;border-radius:20px 20px 20px 20px;" class="button button-calm  button-block">SALVAR</button>
    </form>
  </ion-content>
</ion-view>