<ion-view title="Entrar" id="page3">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-ios-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 33px;"></div>
    <form id="entrar-form2" class="list">
      <ion-list id="entrar-list2">
        <label class="item item-input item-floating-label" id="entrar-input3">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input item-floating-label" id="entrar-input4">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 49px;"></div>
      <button id="entrar-button6" style="font-weight:500;border-radius:20px 20px 20px 20px;" class="button button-calm  button-block">ENTRAR</button>
      <div class="spacer" style="width: 300px; height: 37px;"></div>
      <button id="entrar-button8" style="border-radius:20px 20px 20px 20px;" class="button button-stable  button-block button-outline icon ion-social-facebook"> Entrar com Facebook</button>
      <div class="spacer" style="width: 300px; height: 25px;"></div>
      <a href-inappbrowser="/signup" id="entrar-button7" style="font-weight:500;color:#0E0D0D;font-size:13px;" class="button button-positive  button-block button-clear">Ainda não tenho uma conta</a>
    </form>
  </ion-content>
</ion-view>