<ion-view title="Filtro II (refino)" id="page9">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-ios-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="filtroIIRefino-form6" class="list">
      <label class="item item-input" id="filtroIIRefino-textarea4">
        <span class="input-label">ESPECIALIDADES</span><textarea placeholder=""></textarea></label>
      <ion-item class="item-icon-left" id="filtroIIRefino-list-item26">
        <i class="icon ion-android-checkmark-circle"></i>Alongamento</ion-item>
      <ion-item class="item-icon-left" id="filtroIIRefino-list-item27">
        <i class="icon ion-android-checkmark-circle"></i>Condicionamento</ion-item>
      <ion-item class="item-icon-left" id="filtroIIRefino-list-item28">
        <i class="icon ion-android-checkmark-circle"></i>Emagrecimento</ion-item>
      <div class="spacer" style="width: 300px; height: 18px;"></div>
      <ion-item class="range range-positive" id="filtroIIRefino-range4">Preço médio por treino
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
    </form>
    <div class="spacer" style="width: 300px; height: 7px;"></div>
    <h4 id="filtroIIRefino-heading5" style="color:#000000;">Sexo</h4>
    <div id="filtroIIRefino-button-bar3" class="button-bar">
      <button id="filtroIIRefino-button33" style="font-weight:500;" class="button button-stable  button-block button-clear icon-left ion-android-checkmark-circle">Homem</button>
      <button id="filtroIIRefino-button34" class="button button-stable  button-block button-clear icon-left ion-android-checkmark-circle">Mulher</button>
      <button id="filtroIIRefino-button35" class="button button-stable  button-block button-clear icon-left ion-android-checkmark-circle">Ambos</button>
    </div>
    <h4 id="filtroIIRefino-heading6" style="color:#000000;">Idade</h4>
    <form id="filtroIIRefino-form12" class="list">
      <ion-item class="range range-positive" id="filtroIIRefino-range5">Range
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <button id="filtroIIRefino-button36" style="border-radius:15px 15px 15px 15px;" class="button button-positive  button-block">Salvar</button>
    </form>
  </ion-content>
</ion-view>