<ion-view title="Page" hide-nav-bar="true" id="page1" style="background-color:#373B46;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 71px;"></div>
    <h2 id="page-heading1" style="color:#F5FAF5;font-weight:400;text-align:center;">ENCONTRE O MELHOR TRAINER </h2>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <h3 id="page-heading2" style="color:#F5FAF5;font-weight:400;text-align:center;">Alcance resultados com saúde e motivação</h3>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h5 id="page-heading3" style="color:#0AC8FF;text-align:center;">Diversas modalidades</h5>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <button id="page-button1" style="border-radius:20px 20px 20px 20px;" class="button button-calm  button-block">CADASTRA-SE</button>
    <button id="page-button3" style="font-weight:500;color:#F5FAF5;" class="button button-dark  button-block">ENTRAR</button>
  </ion-content>
</ion-view>